.small{
    font-size: 10px !important;
    /* font-size: 0.7142857143em; */
    display: block;
    color: #bfc1c8;
    margin-left: 73px;
    

}

header{
    
    margin-top: 200px;
    
  
}


.hed{
   border-top: 5px dashed solid white;
}

